@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    font-family: "Nunito Sans", sans-serif;
    min-height: 100vh;
    background-color: #F8F4FF;
}

svg {
    @apply text-xl 2xl:text-3xl;
}

#root {
    min-height: 100vh;
}

.custom-border {
    @apply border-blue border rounded-md  outline-none;
}

.flex-center {
    @apply flex items-center;
}